
@using ClassLibrary1.ViewModels;

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="list"></div>
    
    <script>
        $.get("/Artikal/ListaArtikliUposlenik", function (data) {
            $("#list").html(data);
            AjaxPozivi();
        })
       
    </script>
</body>

</html>



