@{
    ViewData["Title"] = "Home Page";
}
    <body>
        <div id="meni"></div>
        <div id="artikli"></div>

        <script>
            $.get("/Kategorija/ListaKategorijaMeni", function (data) {
                $("#meni").html(data);
                AjaxPozivi();
            })
            $.get("/Artikal/ListaArtikli", function (data) {
                $("#artikli").html(data);
                AjaxPozivi();
            })
            
        </script>
    </body>


