
@using ClassLibrary1.ViewModels;
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="ajax"></div>
    <div id="list"></div>
    
    <script>
        $.get("/Podkategorija/ListaPodkategorijaUposlenik", function (data) {
            $("#list").html(data);
            AjaxPozivi();
        })
    </script>
</body>

</html>



